# Exploratory Data Analysis of COVID19 in South Korea

After finding a cool dataset on GitHub https://github.com/jihoo-kim/Coronavirus-Dataset (all data source credits go to Jihoo Kim) about COVID19 in South Korea I decided to open up my notebook and do what I know to do best to understand the uncertainty and noise in the world currently - data science! Seems like that year in learning Korean for my study abroad last summer is going to pay off! 시작합니다 ~!

In [1]:
#SET UP

import itertools

#Graphing
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')
plt.rcParams['figure.figsize'] = (10,10)

#Tools
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


# These lines make warnings look nicer
import warnings
warnings.simplefilter('ignore', FutureWarning)

# Useful for probability calculations
from scipy import stats
from scipy import special

#Regression Packages
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from IPython.core.display import HTML

In [49]:
patient_url = 'https://raw.githubusercontent.com/WinsonTruong/Coronavirus-Dataset/master/patient.csv'
patient = pd.read_csv(patient_url)

Let's start off by inspecting, cleaning, and verifying  'patient.csv'

In [50]:
patient

,id,sex,birth_year,country,region,disease,group,infection_reason,infection_order,infected_by,contact_number,confirmed_date,released_date,deceased_date,state
0,1,female,1984.0,China,filtered at airport,NaN,NaN,visit to Wuhan,1.0,NaN,45.0,2020-01-20,2020-02-06,NaN,released
1,2,male,1964.0,Korea,filtered at airport,NaN,NaN,visit to Wuhan,1.0,NaN,75.0,2020-01-24,2020-02-05,NaN,released
2,3,male,1966.0,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,16.0,2020-01-26,2020-02-12,NaN,released
3,4,male,1964.0,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,95.0,2020-01-27,2020-02-09,NaN,released
4,5,male,1987.0,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,31.0,2020-01-30,2020-03-02,NaN,released
5,6,male,1964.0,Korea,capital area,NaN,NaN,contact with patient,2.0,3.0,17.0,2020-01-30,2020-02-19,NaN,released
6,7,male,1991.0,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,9.0,2020-01-30,2020-02-15,NaN,released
7,8,female,1957.0,Korea,Jeollabuk-do,NaN,NaN,visit to Wuhan,1.0,NaN,113.0,2020-01-31,2020-02-12,NaN,released
8,9,female,1992.0,Korea,capital area,NaN,NaN,contact with patient,2.0,5.0,2.0,2020-01-31,2020-02-24,NaN,released
9,10,female,1966.0,Korea,capital area,NaN,NaN,contact with patient,3.0,6.0,43.0,2020-01-31,2020-02-19,NaN,released
10,11,male,1995.0,Korea,capital area,NaN,NaN,contact with patient,3.0,6.0,0.0,2020-01-31,2020-02-10,NaN,released
11,12,male,1971.0,China,capital area,NaN,NaN,contact with patient in Japan,2.0,NaN,422.0,2020-02-01,2020-02-18,NaN,released
12,13,male,1992.0,Korea,filtered at airport,NaN,NaN,residence in Wuhan,1.0,NaN,0.0,2020-02-02,2020-02-24,NaN,released
13,14,female,1980.0,China,capital area,NaN,NaN,contact with patient,3.0,12.0,3.0,2020-02-02,2020-02-18,NaN,released
14,15,male,1977.0,Korea,capital area,NaN,NaN,contact with patient,2.0,4.0,15.0,2020-02-02,2020-02-24,NaN,released
15,16,female,1977.0,Korea,Gwangju,NaN,NaN,visit to Thailand,1.0,NaN,450.0,2020-02-04,2020-02-19,NaN,released
16,17,male,1982.0,Korea,capital area,NaN,NaN,contact with patient in Singapore,2.0,NaN,290.0,2020-02-05,2020-02-12,NaN,released
17,18,female,1999.0,Korea,Gwangju,NaN,NaN,contact with patient,2.0,16.0,8.0,2020-02-05,2020-02-19,NaN,released
18,19,male,1983.0,Korea,capital area,NaN,NaN,contact with patient in Singapore,2.0,NaN,68.0,2020-02-05,2020-02-21,NaN,released
19,20,female,1978.0,Korea,capital area,NaN,NaN,contact with patient,3.0,15.0,2.0,2020-02-05,2020-02-24,NaN,released
20,21,female,1960.0,Korea,capital area,NaN,NaN,contact with patient,3.0,6.0,6.0,2020-02-05,2020-02-29,NaN,released
21,22,male,1973.0,Korea,Gwangju,NaN,NaN,contact with patient,2.0,16.0,1.0,2020-02-06,2020-02-15,NaN,released
22,23,female,1962.0,China,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,23.0,2020-02-06,2020-02-29,NaN,released
23,24,male,1992.0,Korea,filtered at airport,NaN,NaN,residence in Wuhan,1.0,NaN,0.0,2020-02-06,2020-02-27,NaN,released
24,25,female,1946.0,Korea,capital area,NaN,NaN,contact with patient,2.0,27.0,12.0,2020-02-09,2020-03-05,NaN,released
25,26,male,1968.0,Korea,capital area,NaN,NaN,contact with patient,1.0,27.0,0.0,2020-02-09,NaN,NaN,isolated
26,27,female,1982.0,China,capital area,NaN,NaN,visit to China,1.0,NaN,40.0,2020-02-09,NaN,NaN,isolated
27,28,female,1989.0,China,capital area,NaN,NaN,contact with patient,2.0,3.0,1.0,2020-02-10,2020-02-17,NaN,released
28,29,male,1938.0,Korea,capital area,NaN,NaN,contact with patient,4.0,83.0,117.0,2020-02-16,NaN,NaN,isolated
29,30,female,1952.0,Korea,capital area,NaN,NaN,contact with patient,5.0,29.0,27.0,2020-02-16,NaN,NaN,isolated
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7483,7484,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7484,7485,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7485,7486,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7486,7487,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7487,7488,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7488,7489,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7489,7490,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7490,7491,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7491,7492,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7492,7493,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7493,7494,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7494,7495,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7495,7496,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7496,7497,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7497,7498,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7498,7499,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7499,7500,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7500,7501,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7501,7502,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7502,7503,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7503,7504,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7504,7505,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7505,7506,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7506,7507,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7507,7508,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7508,7509,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7509,7510,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7510,7511,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7511,7512,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated
7512,7513,NaN,NaN,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09,NaN,NaN,isolated

In [51]:
patient.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7513 entries, 0 to 7512
Data columns (total 15 columns):
id                  7513 non-null int64
sex                 662 non-null object
birth_year          649 non-null float64
country             7513 non-null object
region              421 non-null object
disease             28 non-null float64
group               82 non-null object
infection_reason    144 non-null object
infection_order     35 non-null float64
infected_by         70 non-null float64
contact_number      50 non-null float64
confirmed_date      7513 non-null object
released_date       55 non-null object
deceased_date       36 non-null object
state               7513 non-null object
dtypes: float64(5), int64(1), object(9)
memory usage: 880.5+ KB

From reading this output summary of our data there seems to be a significant amount of missing data such as in birth_year where we only know 662/7513 of the entries. On the other hand confirmation data and state seem to not be missing any data whatsoever.

## Metadata Descriptions:

* id: a unique identifier per patient
* region: an identifier of the regions (14 unique) in which the patient was verified for COVID19
* group: an identifier for if the individual belonged to a specific religious group/cult 
* infection_reason: a description of the point of contact with the disease
* infection_order: a scale of 1 to 6 indicating ?
* infected_by: ?
* contact_number: an estaimte of the number of persons the individual has been infected with
* state: patient status described as either isolated, released, or deceased

# Cleaning
Now that we understand what this data is, let's begin cleaning it for analysis:

Just by observation some of the things I want to change are:
* id: to be deleted due to panda's default indexing
* birth_year: float ==> int
* infection_order: float ==> int
* confirmed_date: str ==> pd.datetime object

In [52]:
patient = patient.drop(columns = ['id'])

In [53]:
#Converting the floats
patient['birth_year'] = patient['birth_year'].fillna(0.0).astype(np.int64)
#Making sure I replace the 0s with NaN
patient['birth_year'].map(lambda x: x if x == 0 else np.nan)

patient.head()

,sex,birth_year,country,region,disease,group,infection_reason,infection_order,infected_by,contact_number,confirmed_date,released_date,deceased_date,state
0,female,1984,China,filtered at airport,NaN,NaN,visit to Wuhan,1.0,NaN,45.0,2020-01-20,2020-02-06,NaN,released
1,male,1964,Korea,filtered at airport,NaN,NaN,visit to Wuhan,1.0,NaN,75.0,2020-01-24,2020-02-05,NaN,released
2,male,1966,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,16.0,2020-01-26,2020-02-12,NaN,released
3,male,1964,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,95.0,2020-01-27,2020-02-09,NaN,released
4,male,1987,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,31.0,2020-01-30,2020-03-02,NaN,released

Given the global context of the virus, the dataset should have global context. The international age system that begins counting cardinally (0) and the East Asian Age Reckoning that begins counting orindally (1). Note that we will be utilzing international age for analysis.

* East Asian: (current year - year of birth) + $1[LNY]$ where $LNY$ is 1 if we are before the 2020 Lunar New Year or 2 if we after the 2020 Lunar New Year
* International: current year - year of birth

In [54]:
patient['age'] = 2020 - patient['birth_year']

In [57]:
patient['confirmed_date'] = pd.to_datetime(patient['confirmed_date'],
                                           format='%Y%m%d', errors='ignore')
patient['released_date'] = pd.to_datetime(patient['released_date'],
                                           format='%Y%m%d', errors='ignore')

In [58]:
patient.head()

,sex,birth_year,country,region,disease,group,infection_reason,infection_order,infected_by,contact_number,confirmed_date,released_date,deceased_date,state,age
0,female,1984,China,filtered at airport,NaN,NaN,visit to Wuhan,1.0,NaN,45.0,2020-01-20,2020-02-06,NaN,released,36
1,male,1964,Korea,filtered at airport,NaN,NaN,visit to Wuhan,1.0,NaN,75.0,2020-01-24,2020-02-05,NaN,released,56
2,male,1966,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,16.0,2020-01-26,2020-02-12,NaN,released,54
3,male,1964,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,95.0,2020-01-27,2020-02-09,NaN,released,56
4,male,1987,Korea,capital area,NaN,NaN,visit to Wuhan,1.0,NaN,31.0,2020-01-30,2020-03-02,NaN,released,33

# Resources
* https://towardsdatascience.com/the-ultimate-guide-to-data-cleaning-3969843991d4